* {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    width: 100%;
}

.content {
   
    text-align: center;
    display: inline-block;
}


.title {
    font-size: 96px;
    padding: 0 0 3% 0;
}

.navbar ul li {
    display: inline-block;
    padding: 5px 10px;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.form-group {
    /*display: table;*/
    /*content: " ";*/

    /*clear: both;*/

    /*padding-top: 7px;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/


}

.control-label {
    font-family: "Lato";
    font-weight: 700;
    /*padding-top: 7px;*/
    /*margin-bottom: 0;*/
    /*text-align: right;*/
    /*width: 30%;*/

    /*padding-top: 14.333333px;*/
    /*font-size: 18px;*/

    /*padding-top: 6px;*/
    /*font-size: 12px;*/
}

.control-input{

    /*display: inline-block;*/
  /*width: 70%;*/
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  /*font-size: 14px;*/
  /*line-height: 1.42857143;*/
  /*color: #555;*/
  /*background-color: #fff;*/
  /*background-image: none;*/
  border: 1px solid #ccc;
  border-radius: 4px;


    /*height: 30px;*/
  padding: 5px 10px;
  margin: 5px 0;
  /*font-size: 12px;*/
  /*line-height: 1.5;*/
  /*border-radius: 3px;*/
}

.tweet {
  /*width: 100%;*/
  padding: 1em;
  margin: 0 0 1em 0;
  /*border: 1px solid #000;*/
}